body{
    background-color:white;
}

header{
    background: #f5fbfc;
    height: 66px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: rgb(57, 57, 201);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    }
.comments_page .post_selection{
 width: 30%;  
}
.button{
    display: inline;
}
.comments-area {
    background: #f1f9ff;
    padding: 50px 30px;
    margin-top: 50px;
  }
  
  @media (max-width: 414px) {
    .comments-area {
      padding: 50px 8px;
    }
  }
  
  .comments-area h4 {
    text-align: center;
    margin-bottom: 50px;
    color: #002347;
    font-size: 18px;
  }
  
  .comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px;
  }
  
  .comments-area a {
    color: #002347;
  }
  
  .comments-area .comment-list {
    padding-bottom: 30px;
  }
  
  .comments-area .comment-list:last-child {
    padding-bottom: 0px;
  }
  
  .comments-area .comment-list.left-padding {
    padding-left: 25px;
  }
  
  @media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
      font-size: 12px;
    }
    .comments-area .comment-list .single-comment .date {
      font-size: 11px;
    }
    .comments-area .comment-list .single-comment .comment {
      font-size: 10px;
    }
  }
  
  .comments-area .thumb {
    margin-right: 20px;
  }
  
  .comments-area .date {
    font-size: 13px;
    color: #777777;
    margin-bottom: 13px;
  }
  
  .comments-area .comment {
    color: #777777;
    margin-bottom: 0px;
  }
  
  .comments-area .btn-reply {
    background-color: #fff;
    color: #002347;
    border: 1px solid #eee;
    padding: 2px 18px;
    font-size: 12px;
    display: block;
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .comments-area .btn-reply:hover {
    background: #fdc632;
    color: #002347;
  }
  
