 *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



body {
	padding: 0px;
	margin: 0px;
	background-color: antiquewhite ;
	text-align: center;
}

.wrapper{
width: 90%;
margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #7674e2;
	align-items: center;
	padding: 20px;
	height: 66px;
}



header .logo {
	float: left;
	height: inherit;
	margin-left: 0.6em;
	color: white;
	border: 3px groove;
	background-color: black;
	font-style: italic;
	font-family: initial;
}

header .logo-text {
	margin: 10px;
}

header ul {
	margin: 0px;
	list-style: none;
}

header ul li {
	display: inline-block;
	padding: 0px 20px;
}

header ul li a {
	display: block;
	padding: 21px;
	font-family: unset;
	transition: all 0.3s ease 0s;
	font-size: 1.5em;
	color: white;
	text-decoration: none;
}

header ul li a:hover{
	background: darkblue;
}

button {
	padding: 9px 30px;
	background-color: navajowhite;
	border: none;
	font-size: 1em;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover{
	background-color: powderblue;
}

.banner-area{
	background-image: url(banner.jpg);
	background-size: cover; 
	background-position: center;
	top: 100px;
	height: 30vh;
	width: 100%;

}


.banner-area h2{
	padding-top: 3%;
	font-size: 55px;
	color: white;
}

.content-area{
	width: 60%;
	height: 500px;
	position: relative;
	background-color: lightcyan;
	top: 0px;
}

.content-area h2{
	font-size: 40px;
	margin: 0;
	padding-top: 30px;
	letter-spacing: 4px;
}

.content-area p{
	padding: 2% 0;
	line-height: 30px;
	text-align: justify;
	font-size: 23PX;
	text-align: left;
	
}

header .menu-toggle {
	display: none;
}
.MySystem{
	float: right;
}





















