@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



body {
	padding: 0px;
	margin: 0px;
	background-color: #eae7dc ;
	text-align: center;
}

.wrapper{
width: 90%;
margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #3f3e3b;
	align-items: center;
	padding: 20px;
	height: 66px;
}



header .logo {
	float: left;
	height: inherit;
	margin-left: 0.6em;
	color: #d8c3a5;
	border: 3px groove;
	background-color:  #3f3e3b;
	font-style: italic;
	font-family: initial;
}

header .logo-text {
	margin: 10px;
}

header ul {
	margin: 0px;
	list-style: none;
}

header ul li {
	display: inline-block;
	padding: 0px 20px;
}

header ul li a {
	display: block;
	padding: 21px;
	font-family: 'Times New Roman';;
	transition: all 0.3s ease 0s;
	font-size: 1.5em;
	color: #d8c3a5;
	text-decoration: none;
}

header ul li a:hover{
	background: #67b1be;
}

button {
	padding: 9px 30px;
	background-color: #d8c3a5;
	border: none;
	font-size: 1em;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover{
	background-color: #67b1be;
}

header .menu-toggle {
	display: none;
}

.banner-area{
	 
	background-size: cover; 
	background-position: center;
	top: 100px;
	height: 30vh;
	width: 100%;

}

.banner-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40%;
	object-fit: cover;
	z-index: -1;
	animation: ani1 24s ease-out forwards;
}



.banner-area h2{
	padding-top: 3%;
	font-size: 55px;
	color: #3f3e3b;
}

.content-area{
	width: 100%;
	height: 500px;
	position: relative;
	color: #3f3e3b;
	background-color: #d8c3a5;
	top: 0px;
	
}

.content-area h2{
	font-size: 40px;
	font-family: 'Times New Roman';
	margin: 0;
	padding-top: 30px;
	letter-spacing: 4px;
}

.content-area p{
	padding: 2% 0;
	line-height: 30px;
	text-align: justify;
	font-size: 23PX;
	font-family: 'Times New Roman';
}



/*design*/
.design{
	padding: 4.5rem 0;
}

.title{
	text-align: center;
	padding: 1rem 0;

}

.title h2{
	font-family: 'Times New Roman';
	font-size: 2rem; 
	color: #3f3e3b;
}

.title p{
	padding: 0.6rem 0;
	font-size: 18px;
}

.design-content{
	margin: 2rem 0;
}

.design-item{
	cursor: pointer;
	margin: 1.5rem 0;
}


.design-img{
	position: relative;
	overflow: hidden;
	width: 100%;
}



.wrapper1{
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;

}


.wrapper1-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	animation: ani1 24s ease-out forwards;
}


.wrapper1-text{
	text-align: center;
	font-size: 45px;
	line-height: 55px;
	letter-spacing: 5px;
	font-family: 'Times New Roman';
	text-transform: uppercase;
	margin-bottom: 180px;
	padding: 3rem 2rem;
	border-radius: 0.25rem;
	background-color: #eae7dc;
	opacity: 0;
	animation: ani2 0.5s ease-out forwards;
}


.wrapper1-text h2,
.wrapper1-text h4{
	opacity: 0;
	margin: 0;
}

.wrapper1-text h2{
	animation: ani2 0.75s ease-out 1s forwards;
}

.wrapper1-text h4{
	animation: ani2 0.75s ease-out 2s forwards;
}

@keyframes ani2{
	100%{
		opacity: 1;
	}

}


@keyframes ani1{
	100%{
		transform: scale(1.55);
	}
}


.system{
	float: right;
	padding-right: 30px;
	padding: 35px;
	
}

.footer{
	background: #8e8d8a;
	color: #302e2a;
	height: 300px;
	position: relative;
}

.footer .footer-content{
	display: flex;
	border: 1px solid #e98074;
	height: 300px;
}

.footer .footer-content .footer-section{
	flex: 1;
	padding: 20px;
	border: 1px solid #d8c3a5;
}

.footer .footer-content h1,
.footer .footer-content h2{
color: #302e2a;
}

.footer .footer-content .about h1 span{
	color: #3d3a35;
}



.footer .footer-content .feedback .text-input{
	background: #302e2a;
	color: #302e2a;
	margin-bottom: 10px;
	line-height: 2rem;
	width: 60%;
	padding: .7rem 1.2rem;

}

.footer .footer-content .feedback .text-input:hover{
	background: #302e2a;
}

.btn-big{
	padding: .7rem 1.3rem;
	line-height: 1.3rem;
	border-radius: 20px;
}